<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>投标查询界面</title>
		<style>
			#userManage{color: white;}
			div{color: white;}
		</style>
	</head>
	<body background="image/背景.jpg">
	<div> 
	<p align="center">投标查询界面</p>
	<form action="/bidQuery">
	<p align="center"><input value="投标查询" type="submit" /></p>
	</form>
	
		<table border="1" withd="200px" align="center">		
			<tr>			
                <td width="200px">编号</td>	 			   
				<td width="200px">工程编号</td>	
				<td width="200px">投标企业编号</td>
				<td width="200px">预算报价</td>	
				<td width="200px">投标报价</td>	
				<td width="200px">定额工期</td>
				<td width="200px">投标工期</td>			
			</tr>		
			<tr th:each="c:${list}">
			    <td th:text="${c.reid}"></td>	
				<td th:text="${c.prid}"></td>	
				<td th:text="${c.qyid}"></td>
				<td th:text="${c.ysbj}"></td>	
				<td th:text="${c.tbbj}"></td>	
				<td th:text="${c.degq}"></td>	
				<td th:text="${c.tbgq}"></td>		
			</tr>			
</table>
    
    <p align="center">
    <a th:href="@{/bidQuery(start=0)}">[首页]</a>
	<a th:href="@{/bidQuery(start=${page.pageNum-1})}">[上一页]</a>
	<a th:href="@{/bidQuery(start=${page.pageNum+1})}">[下一页]</a>      
	<a th:href="@{/bidQuery(start=${page.pages})}">[尾页]</a>
	</p> 
	    <p align="center">
	    显示第一到最后一条，共<nobr th:text="${page.pages}"></nobr>页
	    </p>
	    <p align="center"><a th:href="@{'/bidManage'}"><input type="button" value="返回投标管理界面"/></a></p>
	    
	</div>
	</body>
</html>
