<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>用户删除</title>
		<style>
			#userManage{color: white;}
			div{color: white;}
			div{ 
            position: absolute;   
            top: 50%;   
            left: 50%;   
            -webkit-transform: translate(-50%, -50%);   
            -moz-transform: translate(-50%, -50%);   
            -ms-transform: translate(-50%, -50%);   
            -o-transform: translate(-50%, -50%);   
            transform: translate(-50%, -50%);
   }
		</style>
	</head>
	<body background="image/背景.jpg">
	<div> 
		<h3 align="center">用户删除界面</h3> 
		<br/>     
		<br/>
	  <form action="/userDelete">                                    
	      请输入要删除的用户姓名：<input name="userName" type="text"/><br/>
	      <input value="确认" type="submit"/> 
	  </form>
	     <p align="center"><a th:href="@{'/userManage'}"><input type="button" value="返回用户管理界面"/></a></p>
     </div>
	</body>
</html>
